body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#canvas {
  border: 15px solid pink;
  border-radius: 0px;
  position: relative;
  width: 600px;
}


div#gradDropdown{
  position: relative; left:0;
  border: 15px solid white;
  width: 200px;
}

label{
  background-color: gray;
  opacity: 0.4;
}

svg#chart {
  background-color: blue;
  opacity: 0.2;
}

g#plot-area{
  fill: gray;
}
