h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #97252B;
}

label{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.labels{
  font-family: 'Fjalla One', sans-serif;
  background-color: black;
  opacity: 1;
}

p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

text#gradlabel{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: large;
  opacity: 1;
}

div#dropdowns{
  position: relative;
  /* border: 15px rebeccapurple; */
  /* background-color: red; */
  width: 800px;
}

div#canvas {
  /* border-radius: 0px; */
  border: 50px green;
  /* background-color: rebeccapurple; */
  position: relative; left: 0px;
  width: 800px;
}

/*could these widths be done in js so theyre variable?*/
span#STEM {
  width: 240px;
}
select {
  width: 240px;
}

span {
  position: relative; left:0px;
  border: 15px;
  width: 400px;
  display: inline-block;
  /* justify-content: center; */
  text-align: center;
}

.blackline{
  stroke: black;
  stroke-width: 5;
}

.tooltip{
  font-size: small;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black;
  color: white;
  opacity: 0.7;
}

.dottedline{
  stroke: black;
  opacity: 0.5;
  stroke-dasharray: 2;
  stroke-width: 5;
  fill: none;
}

.endpoints{
  fill : black;
  opacity: 0.3;
}
